@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('material-icons.css');
@import url('gridsystem.css');
body {
    font-family: 'Poppins';
    background-color:  rgb(8, 8, 50);
    color: white;
    margin: 0;
    padding: 0;
    text-align: center; 
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

section {
    margin-left: 15%;
    margin-right: 15%;
    animation: 0.8s fadein linear;
}
@media (max-width:768px) {
    section {
        margin-left: 5%;
        margin-right: 5%;
        animation: 0.8s fadein linear;
    }

}
section.inicio {
    height: 100%;
}
section.formsection {
    height: 100vh;
}
.container {
    width: 100%;
}
.frase-inicio {
    padding-top: 25px;
    padding-bottom: 25px;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.formsigno {
    width: 100%;
    font-size: 20px;
    text-align: left;
}
.scroll-button {
    transition: 0.3s;
    text-decoration: none;
    z-index: 1;
    color: white;
    -webkit-transition: 0.3s;
}
.scroll-button:hover {
    color: rgb(155, 155, 155);
    cursor: default;
}
.estrelas-animations {
    display: block;
    width: 767px;
}
#nome, #dtnasc {
        width: 100%;
        padding: 7px 14px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: rgb(250,255,250);
        color: rgb(8, 8, 50);
}
.nomecont, .dtnasccont {
    font-size: 20px;
}
.enviar {
    padding: 7px 14px;
    font-size:20px;
    margin: 8px 0;
    background-color: rgb(8, 8, 50);
    border: solid rgb(250,255,250) 2px;
    transition: 0.3s;
}
.enviar:hover {
    background-color: rgb(22, 23, 55)
}
.constelacao {
    image-rendering: optimizeQuality;
    width: 70%;
    height: auto;
    padding-top: 20px;
    z-index: -1;
    padding-bottom: 20px;
}
@media (max-width: 768px){
    .constelacao {
        width:100%;
    }
}
.titulo-form {
    margin-top: 100px;
}
section.resultados {
    height: 0px;
    opacity: 0;
    padding: -100;
    transition: 1s;
    -moz-transition: 1;
    -o-transition: 1s;
    -webkit-animation: 1s;
}
.erro {
    color: rgb(155, 50, 50);
    font-size: 14px;
}
.formlabel {
    width: 100%;
    padding: 7px 14px;
    margin: 8px 0;
    text-align: left;
}
.jsutify {
    text-align: justify;
}
li {
    list-style-type: none;
}
/*

utilidade de rotação 

*/
@keyframes rotating
	{
	from
		{
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		}
	to
		{
		transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		}
	}
@-webkit-keyframes rotating
	{
	from
		{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		}
	to
		{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		}
	}
.rotating
	{
	-webkit-animation: rotating 8s linear infinite;
	-moz-animation: rotating 8s linear infinite;
	-ms-animation: rotating 8s linear infinite;
	-o-animation: rotating 8s linear infinite;
	animation: rotating 8s linear infinite;
}